@charset "UTF-8";

/* ------------------ 모달창 -------------------------- */


#modal {
	z-index: 100;
	
}

#modal.modal-overlay {
	margin-top: 0px !important;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: rgba( 255, 252, 203, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 450px;
    position: relative;
    top: -100px;
    padding: 10px;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    
    color: black;
    
}
#modal .title h2 {
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .content {
    margin-top: 20px;
    color: black;
    resize: none;
}

#modal .modal_btn{
	width:295px;
	height: 30px;
}

/* 버튼의 기본 스타일 */
.modal_btn{
	margin-top: 10px;
	text-align: center;
	align-items:center;
	background-color: #FFEB87; /* 배경색 설정 */
	color: black; /* 텍스트 색상 설정 */
	border: none; /* 테두리 제거 */
	font-size: 16px; /* 폰트 크기 설정 */
	border-radius: 5px; /* 모서리 둥글게 만들기 */
	cursor: pointer; /* 커서 스타일 변경 */
}

/* 버튼에 호버 (마우스 오버) 스타일 적용 */
.modal_btn:hover {
	background-color: #F5E182; /* 호버 시 배경색 변경 */
}

/* 버튼 클릭 시 스타일 적용 */
.modal_btn:active {
	background-color: #F5E182; /* 클릭 시 배경색 변경 */
}

.modal_bottom{
	text-align: center;
}

.modal_bottom input{
	margin-top: 20px;
	width: 295px;
}

.setFocus
{
	position:absolute;
	z-index:4;
	width: 100px;
	height: 50px;
	left: 50%;
	bottom: 5%;	
	background-color: #007bff; /* 배경색을 파란색으로 지정 */
	color: #fff; /* 글자색을 흰색으로 지정 */
	padding: 10px 20px; /* 내부 여백 설정 */
	border: none; /* 테두리 없음 */
	border-radius: 5px; /* 둥근 모서리 설정 */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
	cursor: pointer; /* 커서를 손가락 포인터로 변경 */
	transition: background-color 0.3s ease; /* 부드러운 배경색 전환 애니메이션 */
	
}

.setFocus:focus {
  outline: none; /* 포커스 시 기본 포커스 효과 제거 */
  background-color: #0D6EFD; /* 포커스 시 배경색 변경 */
}


/* 모달 내용 영역 스타일 */
.modal-content {
  background-color: white !important;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  height: 80%;
  width: 100%;
  overflow: auto;
}


/* 페이지번호 버튼 스타일 */
.page_box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}

/* 선택된 페이지번호 버튼 스타일 */
.page_box button.selectpage {
  background-color: #0056b3;
}

/* 게시글 레이아웃 스타일 */
.written_content {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  max-height: 180px;
}

.written_content p{
	overflow-wrap: break-word;
}

/* 리뷰 레이아웃 스타일 */
.review_content {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  max-height: 180px;
}

/* 리뷰 페이지번호 버튼 스타일 */
.review_pagebox button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}

/* 선택된 리뷰 페이지번호 버튼 스타일 */
.review_pagebox button.selectpage {
  background-color: #0056b3;
}

.writer_view{
	display: flex;
}

.review_contents{
	height: 630px;
}

.review_pagebox{
	text-align: center;	
}

.review_top_content{
	display: flex;
	justify-content: space-between;
}

.modal_what_content{
	margin-left: 10px;
}

.written_contents{
	height: 630px;
}

.written_content_btmn{
	display: flex;
    justify-content: space-between;
}

.written_content_btitle{
	text-align: center;
	font-weight: bold;
}

.written_content_mnickname{
	font-size: 15px;
}

.written_content_bdcn{
    font-size: 15px;
}

.review_content_rsrs{
	display: flex;
	justify-content: space-between;
}

.review_content_rsender {
	text-align: center;
	font-weight: bold;
}

.review_content_rscore{
	font-size: 20px;
	color: yellow;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.review_content_rdate{
	font-size: 15px;
}

.review_content_rcontent{
	/*overflow-wrap: break-word;*/
    max-height: 80px; /* 원하는 최대 높이 설정 */
    overflow: hidden; /* 내용이 너비 또는 높이를 넘어가면 숨기기 */
   
    text-overflow: ellipsis; /* 생략 부호 (...) 표시 */
}

.written_content_bcontent{
	max-height: 80px; /* 원하는 최대 높이 설정 */
    overflow: hidden; /* 내용이 너비 또는 높이를 넘어가면 숨기기 */
}

